/* Reset für ::before und ::after */
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Bild- und Video-Stile */
.image-container {
    display: flex;           
    flex-wrap: wrap;        
    justify-content: center; 
    gap: 10px;              
}

/* Bilder */
.image-container img,
.image-container video {
    max-width: 100%; /* Maximale Breite auf 100% setzen */
    height: auto;    /* Höhe automatisch anpassen */
    border-radius: 5px; /* Abgerundete Ecken für Bilder und Videos */
}

/* Body-Stile */
body {
    max-width: 66ch; /* Maximale Breite */
    margin: 0 auto; /* Zentrierter Inhalt */
    line-height: 1.5; /* Zeilenhöhe */
    font-size: 120%; /* Schriftgröße */
    background-color: rgb(168, 220, 238); /* Hintergrundfarbe */
    font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif; /* Schriftarten */
    font-weight: normal; /* Schriftgewicht */
}

/* Box für den gesamten Inhalt */
main {
	margin-top: 40px;
    background-color: rgb(194, 235, 255); /* Hintergrundfarbe der Box */
    padding: 20px; /* Innenabstand */
    border-radius: 10px; /* Abgerundete Ecken */
    box-shadow: 0 4px 10px rgba(16, 1, 46, 0.1); /* Schatteneffekt */
    width: 90%; /* Breite der Box */
    max-width: 600px; /* Maximale Breite */
}

/*Stil für die goback-class*/
.goback {
	text-decoration: none;
	color: black;
	font-weight: bold;
}


/* Stil für das h1 */
h1 {
    background-color: #6f82fd; /* Hintergrundfarbe des h1 */
    padding: 15px; /* Innenabstand */
    border-radius: 5px; /* Abgerundete Ecken */
    text-align: center; /* Zentrierter Text */
    margin-bottom: 20px; /* Abstand zum nächsten Element */
}

/* Stil für das Blockzitat */
blockquote {
    font-style: italic; /* Kursivschrift */
}

/* Stil für die Navigation */
.nav {
    background-color: #74d1ff; /* Hintergrundfarbe der Navigationsbox */
    padding: 10px; /* Innenabstand */
    border-radius: 5px; /* Abgerundete Ecken */
}

/* Stil für die Links */
.nav a {
    display: block; /* Links in eigene Zeilen */
    text-decoration: none; /* Keine Unterstreichung */
    color: #000000; /* Textfarbe */
    padding: 10px; /* Innenabstand */
    margin: 5px 0; /* Abstand zwischen den Links */
    border-radius: 3px; /* Abgerundete Ecken */
    transition: background-color 0.3s; /* Übergangseffekt für Hintergrundfarbe */
}

/* Hover-Effekt für die Links */
.nav a:hover {
    background-color: #3c55f8; /* Hintergrundfarbe beim Hover */
    color: darkblue; /* Textfarbe beim Hover */
}
