
/*for a more natural look*/
befor,
after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* so that the images dont take over the full screen and are wildly scaled*/
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/*like we talked about in class, these changes make the text and layout more accessible to more users... they just made sense*/
body {
	max-width: 66ch;
	margin: 0 auto;
	line-height: 1.5;
	font-size: 120%;
}
