body {
  font-family: Superclarendon, "Bookman Old Style", "URW Bookman",
    "URW Bookman L", "Georgia Pro", Georgia, serif;
  font-weight: normal;
  font-size: 22px;
  background-color: #031b42;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#game {
  background: lightblue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

button {
  font-family: Superclarendon, "Bookman Old Style", "URW Bookman",
    "URW Bookman L", "Georgia Pro", Georgia, serif;
  font-weight: normal;
  background-color: white;
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  display: block;
}

.choice {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}

.choice img {
  width: 50px; 
  height: 50px; 
  margin-right: 10px; 
}
